#app {
  max-width: 1000px;
  margin-inline: auto;
  min-height: 100vh;
}

.paragraph-wrapper {
  min-height: 250px;
  background: #acb1d6;
  letter-spacing: 1px;
  font-weight: bold;
  color: #212a3e;
  border: 1px solid black;
}
.paragraph-wrapper > ul {
  list-style: none;
}

#form {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#form > input {
  padding: 10px 20px;
}
#form > button {
  padding: 10px 20px;
}

.add-paragraph-button {
}
